.classpath
.project
.settings/
target/
/erp-movimento-desktop-impl/JavaApplication51/nbproject/private/
/erp-movimento-desktop-impl/erp-movimento-desktop-impl/nbproject/private/
/erp-movimento-desktop-impl/erp-movimento-desktop-impl/build/
/erp-movimento-desktop-impl/erp-movimento-desktop-impl/dist/
/erp-movimento-desktop-impl/erp-tributacao/nbproject/private/
/erp-tributacao/nbproject/private/
/erp-tributacao-teste/nbproject/private/
/erp-tributacao-teste/build/
/erp-tributacao-teste/dist/