.classpath
.project
.settings/
target/
/erp-movimento-desktop-impl/JavaApplication51/nbproject/private/
/erp-movimento-desktop-impl/erp-movimento-desktop-impl/nbproject/private/
/erp-movimento-desktop-impl/erp-movimento-desktop-impl/build/
/erp-movimento-desktop-impl/erp-movimento-desktop-impl/dist/